/* Стили для контейнера каталога */
.catalog-container {
    max-width: 1800px; /* Уменьшенная максимальная ширина для лучшего отображения на больших экранах */
    margin: 0 auto;
    padding: 0px; /* Увеличенные отступы слева и справа */
}

/* Стили для блока каталога */
.catalog-block {
    background-color: #fff; /* Цвет фона блока */
    border: 1px solid #ccc; /* Рамка блока */
    border-radius: 10px; /* Скругление углов */
    margin: 20px; /* Отступы вокруг блока */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Тень для блока */
    transition: transform 0.3s; /* Плавный переход для эффекта при наведении */
}

.catalog-block:hover {
    transform: scale(1.05); /* Увеличение блока при наведении */
}

/* Контент блока */
.catalog-content {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 20px; /* Отступы внутри блока */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
}

/* Убираем подчеркивание у ссылки */
.catalog-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Унаследовать цвет текста */
}

/* Стили для изображения в блоке каталога */
.catalog-content img {
    max-width: 100px; /* Ограничение ширины изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Скругление углов изображения */
    margin-right: 20px; /* Отступ справа от изображения */
}

/* Стили для текста в блоке каталога */
.catalog-text {
    display: flex; /* Используем Flexbox для выравнивания заголовка и параграфа */
    flex-direction: column; /* Вертикальное расположение элементов */
}

/* Стили для заголовка каталога */
.catalog-title {
    font-size: 1.5em; /* Размер шрифта заголовка */
    margin: 0; /* Убираем отступы */
    color: #333; /* Цвет текста заголовка */
}

/* Стили для параграфа */
.catalog-block p {
    text-align: left; /* Выравнивание текста влево */
    margin: 5px 0 0; /* Убираем отступы, кроме верхнего */
}
